.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: dodgerblue;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
  color: rgb(126, 189, 252);
  position: relative;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
}

.header li:hover,
.header li:active,
.header li.active {
  color: white;
}

.batch {
  background: rgb(17, 108, 199);
  padding: 0rem 0.3rem;
  position: absolute;
  right: -1.2rem;
  top: 35%;

  display: inline-block;
  border-radius: 50%;
  font-size: 0.6rem;
}
.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.5);
  }
  30% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(2);
  }
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 650px) {
  .logo {
    font-size: 1.2rem;
  }
  .header a {
    font-size: 1rem;
  }
  .batch {
    top: 20%;
  }
  .header li {
    margin-left: 2rem;
  }
}
@media (max-width: 430px) {
  .header ul {
    flex-direction: column;
  }
  .header li {
    margin-left: 1rem;
  }
}
