.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: dodgerblue;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
  color: rgb(126, 189, 252);
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
}

.header li:hover,
.header li:active,
.header li.active {
  color: white;
}
@media (max-width: 650px) {
  .logo {
    font-size: 1.2rem;
  }
  .header a {
    font-size: 1rem;
  }

  .header li {
    margin-left: 0.8rem;
  }
}
@media (max-width: 400px) {
  .header ul {
    flex-direction: column;
  }
}
