.item {
  margin-bottom: 2rem;
}

.image {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image img {
  width: 70%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 1rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.actions {
  padding: 0 1rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: dodgerblue;
  border: 1px solid dodgerblue;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: dodgerblue;
  color: white;
}
